#body{
    background-color: azure;
}

.center{
    text-align: center;
}

#elenco{
    background-image: url(../img/strangerthings.jpg);
}

.img img{
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}